.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.text {
  text-align: center;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}
