.container {
  width: 400px;
  border: 1px #282828 solid;
  border-radius: 16px;
  padding: 30px 40px;
  font-size: $textBase;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .input {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 30px;
      }
    }

    .button {
      margin-top: 20px;
    }
  }

  .error {
    margin-bottom: 20px;
    color: $error;
    display: flex;
    align-items: flex-end;
    font-size: 0.875em;

    &::before {
      content: '';
      width: 20px;
      height: 20px;
      display: inline-block;
      margin-right: 5px;
      mask: url('../../assets/alert.svg') no-repeat 50% 50%;
      mask-size: cover;
      background-color: $error;
    }
  }
}
