.form {
  width: 400px;
  display: flex;
  flex-direction: column;
  border: 1px #282727 solid;
  border-radius: 16px;
  padding: 30px 40px;
  align-items: center;

  .input {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .button {
    margin-top: 20px;
  }
}
