@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@700&family=Bebas+Neue&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500&display=swap');

//fonts
$Nunito: 'Nunito Sans', sans-serif;
$Bebas: 'Bebas Neue', sans-serif;
$Battambang: 'Battambang', sans-serif;

//colors (Initial colors. Experiment further)
$background: #090313;
$text: #f8fafb;
$textSecondary: #b7b7b7;
$accent: #38054d;
