.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.entry {
  color: $text;
  padding: 10px;
  background-color: #565656;
  transition: 0.15s;
  font-size: $textBase;
  text-transform: capitalize;

  &:hover {
    background-color: #7c7c7c;
  }
}
