.item {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 7px 20px;
  background: #38054d;
  border: 1px solid #38054d;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  border-radius: 30px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  transition: 0.3s;
  text-decoration: none;
}

.item:hover {
  transform: scale(1.02);
  border-color: 1px solid white;
}
