.form {
  min-width: 320px;
  max-width: 1000px;
  margin: 20px auto;
  display: flex;
  gap: 5px;
  align-items: center;
  position: relative;

  .button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  .cancelButton {
    @extend .button;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
  }

  .icon {
    width: 100%;
    height: 100%;
  }
}

// remove cancel button from input [type=search]
input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
